$color1: #ffffff;
$color2: #000000;
$color3: #f7db41;
$color4: #d8d8d8;
$color5: #fe5656;
$color6: #a996f1;
$color7: #272727;

$box-shadow: 0px 2px 5px rgba(0,0,0,0.1);

$footer-bcg: linear-gradient(to bottom, #9ba0a3, #000000);